---
import { CollectionEntry } from 'astro:content';
import { getCollectionArticles } from '../../content/_collections';
import Base from '../../layouts/Base.astro';
import { dateFormat } from '../../utils';

export async function getStaticPaths() {
    const articles = await getCollectionArticles();
    return articles.map((article) => ({
        params: { slug: article.slug },
        props: { article },
    }));
}

export interface Props {
    article: CollectionEntry<'articles'>;
}

const { article } = Astro.props;
const { Content } = await article.render();
---

<Base title={article.data.title} description={article.data.description}>
    <div class="mt-32 mb-16">
        <h1 class="mb-0">{article.data.title}</h1>
        <time class="font-mono text-sm" datetime={article.data.published.toISOString()}>
            {dateFormat(article.data.published)}
        </time>
        {
            article.data.draft && (
                <span class="text-xs p-0.5 rounded-sm bg-red text-white">DRAFT</span>
            )
        }
    </div>
    <Content />
</Base>
