---
import { CollectionEntry } from 'astro:content';
import { getCollectionArticles } from '../../content/_collections';
import Base from '../../layouts/Base.astro';
import { dateFormat } from '../../utils';

const articles = (await getCollectionArticles()).sort(
    (a, b) => b.data.published.valueOf() - a.data.published.valueOf(),
);

const noTagsKey = '[no tags]';

const articlesByTag: Record<string, CollectionEntry<'articles'>[]> = {
    [noTagsKey]: [],
};

for (const article of articles) {
    if (article.data.tags.length === 0) {
        articlesByTag[noTagsKey].push(article);
    } else {
        for (const tag of article.data.tags) {
            (articlesByTag[tag] ??= []).push(article);
        }
    }
}

// NOTE(david): move none to the end.
const articlesWithoutTags = articlesByTag[noTagsKey];
delete articlesByTag[noTagsKey];
articlesByTag[noTagsKey] = articlesWithoutTags;
---

<Base>
    <h2 class="font-serif">Recent</h2>
    <ul class="list-none">
        {
            articles.map((article) => (
                <li>
                    <time class="font-mono text-sm" datetime={article.data.published.toISOString()}>
                        {dateFormat(article.data.published)}
                    </time>
                    <a href={`/articles/${article.slug}`}>{article.data.title}</a>
                    {article.data.draft && (
                        <span class="text-xs p-0.5 rounded-sm bg-red text-white">DRAFT</span>
                    )}
                </li>
            ))
        }
    </ul>
    <h2 class="font-serif">Tags</h2>
    {
        Object.entries(articlesByTag).map(([tag, articles]) => (
            <>
                <h3>
                    <span class="text-subtle">#</span> {tag}
                </h3>
                <ul class="list-none">
                    {articles.map((article) => (
                        <li>
                            <time
                                class="font-mono text-sm"
                                datetime={article.data.published.toISOString()}
                            >
                                {dateFormat(article.data.published)}
                            </time>
                            <a href={`/articles/${article.slug}`}>{article.data.title}</a>
                            {article.data.draft && (
                                <span class="text-xs p-0.5 rounded-sm bg-red text-white">
                                    DRAFT
                                </span>
                            )}
                        </li>
                    ))}
                </ul>
            </>
        ))
    }
</Base>
