html {
    font-size: 18px;
    overflow-y: overlay;
}

body {
    --at-apply: 'bg-white mx-auto px-2 sm:px-0 font-sans';
    text-rendering: optimizeLegibility;
    color-scheme: light;
}
.dark body {
    --at-apply: 'bg-black';
    color-scheme: dark;
}
.serif body {
    --at-apply: 'font-serif';
}

*::-webkit-scrollbar {
    --at-apply: 'bg-transparent w-12px h-12px';
}
* {
    scrollbar-width: thin;
}
*::-webkit-scrollbar-thumb {
    transition: background 0.2s ease-in-out;
    border: 3px solid transparent;
    --at-apply: 'bg-gray-200 dark:bg-dark-200 rounded-full bg-clip-content';
}
*::-webkit-scrollbar-thumb:hover {
    --at-apply: 'bg-gray-300 dark:bg-dark-100';
}
*::-webkit-scrollbar-corner {
    --at-apply: 'bg-transparent';
}

[data-tooltip] {
    position: relative;
    &:after {
        --at-apply: 'content-[attr(data-tooltip)] absolute bottom-50% left-50% bg-black text-gray-100 dark:(bg-white text-gray-900 font-medium) font-normal px-2 py-1 rounded overflow-hidden pointer-events-none whitespace-nowrap';
        transform: translate(-50%, 0%);
        opacity: 0;
        transition: 0.1s;
    }
    &:hover:after {
        opacity: 1;
        bottom: 110%;
    }
}
