.prose {
    --un-prose-invert-body: theme('colors.gray.400');
    & h1 {
        --at-apply: 'font-serif';
    }
    & hr {
        --at-apply: 'border-0 border-t border-gray-200 dark:border-dark-100';
    }
    & a {
        --at-apply: 'underline-gray-300 dark:underline-gray-500 hover:underline-current break-words';
        &:not(.visited-none):visited {
            color: theme('colors.purple.500');
        }
    }
    & li > :where(ul, ol) {
        margin: 0;
    }
    & li > ul {
        list-style: circle;
    }
    & kbd {
        --at-apply: 'align-text-bottom text-[0.75em] bg-gray-100 border border-b-4 border-gray-200 px-2.5 pb-1 text-center whitespace-nowrap rounded-lg dark:(border-gray-600 bg-gray-700)';
    }
    & mark {
        --at-apply: 'bg-yellow-300 rounded-sm px-0.5';
    }
    & .astro-code {
        --at-apply: 'pl-2 py-2 rounded border dark:border-gray-700 text-[16px] leading-5';
        counter-reset: step;
        counter-increment: step 0;
        & .line::before {
            content: counter(step);
            counter-increment: step;
            width: 1rem;
            margin-right: 1rem;
            display: inline-block;
            text-align: right;
            color: rgba(115, 138, 148, 0.4);
        }
    }
}

.dark .prose {
    & a:not(.visited-none):visited {
        color: theme('colors.purple.400');
    }
}
