---
import Base from '../layouts/Base.astro';
const email = 'hi@davidhol.land';

const links: Record<string, string> = {
    rendering: 'https://gitlab.com/denovodavid/rendering',
    mosaic: 'https://www.reddit.com/r/godot/comments/14as2b9/i_added_a_stable_subtexel_smooth_camera_to_my_3d/',
    loaf: 'https://gitlab.com/denovodavid/loaf',
    itch: 'https://denovodavid.itch.io/',
    youtube: 'https://youtube.com/@denovodavid',
    steam: 'https://steamcommunity.com/id/denovodavid',
    gitlab: 'https://gitlab.com/denovodavid',
    github: 'https://github.com/denovodavid',
    mailto: `mailto:${email}`,
};
---

<Base>
    <br />
    <p>Hello, I'm David, and I do a bit of programming.</p>
    <p>
        Currently working on a
        <a href={links.rendering} target="_blank">Renderer in C</a>, a
        <a href={links.mosaic} target="_blank">3D Pixel Art Project</a> in Godot, and exploring a little
        <a href={links.loaf} target="_blank">Programming Language</a>. I do the occasional
        <a href={links.itch} target="_blank">game jam</a>.
    </p>
    <p>
        In other news; video games are fun (mostly Rocket League circa 2015), being quiet,
        recovering from athletic injuries, and cooking with salt.
    </p>
    <hr class="max-w-[50%] mx-auto my-16" />
    <p>
        Find at
        <a href={links.youtube} target="_blank">YouTube</a>,
        <a href={links.itch} target="_blank">itch.io</a>,
        <a
            href="#"
            onclick="
                navigator.clipboard
                    .writeText(this.dataset.tooltip)
                    .then(() => alert('Copied username to clipboard :)'))
                    .catch(() => {});
                return false;
            "
            data-tooltip="denovodavid">Discord</a
        >,
        <a href={links.steam} target="_blank">Steam</a>,
        <a href={links.gitlab} target="_blank">GitLab</a>,
        <a href={links.github} target="_blank">GitHub</a>
        <br />
        Mail to <a href={links.mailto}>{email}</a>
    </p>
    <p>thank :)</p>
</Base>
