<script>
    const serifToggle = document.querySelector('#serif-toggle');
    serifToggle?.addEventListener('click', (e) => {
        e.preventDefault();
        let fontSerif = 'sans';
        const lsFontSerif = localStorage.getItem('font-serif');
        if (lsFontSerif === 'sans' || lsFontSerif === 'serif') {
            fontSerif = lsFontSerif;
        }
        fontSerif = fontSerif === 'sans' ? 'serif' : 'sans';
        localStorage.setItem('font-serif', fontSerif);
        document.documentElement.classList.remove('sans', 'serif');
        document.documentElement.classList.add(fontSerif);
    });
</script>

<button
    type="button"
    id="serif-toggle"
    aria-label="Toggle font serif"
    class="text-gray-900 dark:text-gray-100"
>
    A
</button>
