<script>
    const themeToggle = document.querySelector('#theme-toggle');
    themeToggle?.addEventListener('click', (e) => {
        e.preventDefault();
        let theme = 'light';
        const lsTheme = localStorage.getItem('theme');
        if (lsTheme === 'light' || lsTheme === 'dark') {
            theme = lsTheme;
        } else if (matchMedia('(prefers-color-scheme: dark)').matches) {
            theme = 'dark';
        }
        theme = theme === 'light' ? 'dark' : 'light';
        localStorage.setItem('theme', theme);
        document.documentElement.classList.remove('light', 'dark');
        document.documentElement.classList.add(theme);
    });
</script>

<button
    type="button"
    id="theme-toggle"
    aria-label="Toggle theme"
    class="text-gray-900 dark:text-gray-100"
>
    <div class="dark:hidden i-line-md:sunny-outline-loop"></div>
    <div class="hidden dark:inline-block i-line-md:moon-alt-loop"></div>
</button>
