---
import '../styles/app.css';

import 'uno.css';

import '../styles/prose.css';

import HeaderLink from '../components/HeaderLink.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../config';

export interface Props {
    title?: string;
    description?: string;
    image?: string;
}

const {
    title = SITE_TITLE,
    description = SITE_DESCRIPTION,
    image = '/images/man-staring-at-news.webp',
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <!-- Primary Meta Tags -->
        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={new URL(image, Astro.url)} />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={new URL(image, Astro.url)} />

        <!-- handle theme without flashing default -->
        <script is:inline>
            var lsTheme = localStorage.getItem('theme');
            if (lsTheme === 'light' || lsTheme === 'dark') {
                document.documentElement.classList.add(lsTheme);
            } else if (matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.classList.add('dark');
            }
        </script>
    </head>
    <body class="prose prose-gray dark:prose-invert">
        <header class="mb-4">
            <h2>
                <img
                    src="/favicon.svg"
                    loading="lazy"
                    alt="face with diagonal mouth"
                    class="hover:animate-jello inline-block w-[1.2em] h-[1.2em] align-text-bottom"
                />
                <span>{SITE_TITLE}</span>
            </h2>
            <nav class="flex gap-4 items-center">
                <HeaderLink href="/" title="home">home</HeaderLink>
                <HeaderLink href="/articles" title="articles">articles</HeaderLink>
                <HeaderLink href="https://gitlab.com/denovodavid" target="_blank" title="git">
                    git
                </HeaderLink>
                <HeaderLink href="/feed.xml" target="_blank" title="rss">rss</HeaderLink>
                <ThemeToggle />
                <!-- <SerifToggle /> -->
            </nav>
        </header>

        <slot />

        <footer class="pt-32 pb-16 text-center text-subtle text-sm">
            2022-PRESENT &copy; David Holland
        </footer>
    </body>
</html>
